.landingBody
{
    color: whitesmoke;
    text-align: center;
    position: relative;
}

.menuItem
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 450px;
    vertical-align: top;
}

.menuItem a
{
    background-color: rgba(53, 53, 53, 0.507);
    width: 100%;
}

.menuItem p
{
    color: whitesmoke;
    font-size: 5em;
    font-style: bold;
}

.menuPreset
{
    background-image: url(../img/preBuiltPCBg.png), linear-gradient(310deg,#7a7a7a, #e0e0e0);
    background-repeat: repeat;
    background-size: 50px, contain;
    background-position: center;
}

.menuBuild
{
    background-image:  url(../img/PartsBg_tight.png), linear-gradient(310deg, #e0e0e0, #7a7a7a);
    background-repeat: repeat;
    background-size: 50px,contain;
    background-position: center;
}


@media (max-width: 1000px) and (min-width: 500px)
{
    .menuItem
    {
        display: inline-flex;
        width: 50%;
    }
}

@media (max-width: 500px)
{
    .menuItem
    {
        display: inline-flex;
        width: 100%;
    }
}
