
.navbar-expand
{
    flex-flow: row wrap;
}


.navbar-brand img
{
    width: 50px;
    height: auto;
    margin-right: 10px;
    filter: invert();
}

.navbar h5
{
    text-align: right;
    color:black;
    width: 200px;
}

@media (max-width: 1000px) and (min-width: 720px) {
    body
    {
        width: 100%;
    }
}

@media (max-width: 720px) {
    body
    {
        width: 720px;
    }
}